.header {
    width: 100%;
    background: url("/Content/Images/clouds.jpg")
}

.header__autorization-ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: flex-end;
}

.shop-data__register {
    margin-right: 10px;
}

.shop-data {
    display: flex;
}

.shop-data__shop-icon img {
    padding: 0;
    width: 20px;
    height: 20px;
}

.shop-data__shop-region span {
    position: relative;
    margin-left: 5px;
}

    .shop-data__shop-region span::after {
        content: '|';
        position: absolute;
        color: #bfbfbf;
        right: -13px;
    }

.shop-data__shop-current-region {
    margin-left: 20px;
}

.shop-data__shop-adress {
    margin-left: 20px;
}

.shop-data__shop-phone {
    display: flex;
    padding: 0;
    margin-left: 30px;
}

    .shop-data__shop-phone img {
        margin: 3px 3px 0 0;
        height: 20px;
        width: 20px;
    }

.header__bottom-logo {
    padding: 0;
    position: relative;
}


.header__bottom-logo-text {
    position: absolute;
    top: 47px;
    left: 67px;
    text-transform: uppercase;
    font-weight: 745;
    font-size: 13px;
}

.header-search {
    padding: 0;
    display: flex;
    align-self: center;
}

.header-search__text {
    color: #0b5ed7;
    font-size: medium;
}

.header-search__input {
    padding: 0 0 0 10px;
}

.cart {
    display: flex;
    padding: 0;
    justify-content: center;
}

.cart__image {
    background: url("/Content/Images/cart.png") no-repeat !important;
    padding: 35px 35px 15px 15px;
    background-size: cover;
}

.cart__info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.cart__text {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.cart__number-items span, .cart__total-cost span {
    color: #0b5ed7;
}

/*.header-search_submit {
    background: url("/Content/Images/icons-new.png") -4px -1133px no-repeat;
    background-color: midnightblue;
}*/

.container-fluid {
    padding: 0;
}

.filter-menu__additional-sorting {
    background-color: green;
}

.main-menu {
    font-family: Arial;
    background: #0b5ed7;
    height: 40px;
}

.main-menu__ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 100%;
}

    .main-menu__ul a {
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 40px;
        text-decoration: none;
    }

    .main-menu__ul li a:hover {
        color: aquamarine;
        /*background: yellow;*/
    }

/*.caps__image img {
    max-width: 100%;
    height: auto;
}*/


/*-------------------------- SELECT CAR---------------------------*/

.select-car__wrap {
    background: url("/Content/Images/points.png") repeat-x center center;
    margin-bottom: 5px;
    padding: 0;
}

.select-car__header {
    display: flex;
    justify-content: space-between;
}

.select-car__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background: white;
    padding-right: 10px;
    padding-top: 6px;
}

.select-car__buttons {
    text-align: center;
    height: 35px;
}

.select-car__show-all, .select-car__show-popular {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #0b5ed7;
    background: white url("/Content/Images/open_all_catalog.png") no-repeat top right;
    padding: 0 40px 10px 10px;
}

.select-car__main {
    background: #f4f7ff;
    font-family: Arial;
}

.select-car__list {
    padding: 0;
}

#select-car__enum {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: row;
}


#select-car__enum li:not(#all-cars) {
        margin-right: 4px;
        border: 1px solid black;
        cursor: pointer;
        background-color: white;
        width: 26px;
        height: 26px;
        line-height: 24px;
        text-align: center;
}

#select-car__enum li#all-cars {
        line-height: 24px;
        height: 26px;
        border: 1px solid red;
        font-size: smaller;
        padding: 0px 2px;
}

#select-car__enum li.active:not(#all-cars) {
        background-color: red;
        border: 1px solid #727272;
}

#select-car__enum li.active#all-cars {
    background-color: red;
    line-height: 24px;
    height: 26px;
    border: 1px solid red;
    font-size: smaller;
    padding: 0px 2px;
}

.select-car__selected {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0 0 -10px;
}

.select-car__selected a {
        text-transform: uppercase;
        font-size: 15px;
        text-decoration: underline;
        font-weight: bold;
        color: black;
        margin: 10px 0 0 10px;
        flex-grow: 1;
        height: 100%;
        width: calc(100% * (1 / 4) - 10px - 1px);
        padding-left: 40px;
}

/*-------------------SECTION ---------------*/
.section-catalog {
    padding: 0;
}
.section-catalog__header {
    background: url(/Content/Images/points.png) repeat-x center center;
    margin-bottom: 5px;
    padding: 0;
    height: 28px;
}

.section-catalog__buttons {
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial;
    padding-left: 5px;
    color: #0b5ed7;
    line-height: 28px;
    font-weight: bold;
    background: white url("/Content/Images/open_all_catalog.png") no-repeat top right;
    padding-right: 35px;
}

/*----------------------------------Discounts-------------------*/
.dicounts {
    padding: 0;
}

.discounts__header {
    background: url(/Content/Images/points.png) repeat-x center center;
    margin-bottom: 5px;
    height: 28px;
}

.discounts__header div{
    color: #0b5ed7;
    font-size: 16px;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 5px;
    background: white;
    padding-top: 3px;
    float: left;
}

.discount__wrap {
    
}


.discount__slider {
       
}


.discount__section {
    display: flex;
    flex-direction: column;

}

.discount__section-item {
    text-align: right;
    border-bottom: 1px solid #cdcdcd;
}

.discount__data {
    font-size: 12px;
    color: black;
    margin-top: 7px;
}

.discount__title {
    color: #0b5ed7;
    font-size: 14px;
    text-transform: uppercase;
}

.discount__text {
    color: #5a5a5a;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
}

/*-------------------GOODS---------*/
.popular-goods {
    padding: 0;
}

.popular-goods__header{
    background: url(/Content/Images/points.png) repeat-x center center;
    margin-bottom: 5px;
    height: 28px;
}
.popular-goods__header div {
    color: #0b5ed7;
    font-size: 16px;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 5px;
    background: white;
    padding-top: 3px;
    float: left;
}