.header__autorization-ul{
    list-style-type: none;
    padding: 0;
}
.header__autorization ul div{
    padding: 0;
}

.cart-image{
    background: url("/Content/Images/icons-new.png") -5px -232px no-repeat;    
}

.cart-text{
    padding: 0;
    vertical-align: text-bottom;
}
.header-search_submit{
    background: url("/Content/Images/icons-new.png") -4px -1133px no-repeat;
    background-color: midnightblue;  
}

.container-fluid {
    padding: 0;
}

.filter-menu__additional-sorting {
    background-color: green;
}

.main-menu {
    background: #256892;
}

.caps__image img {
    max-width: 100%;
    height: auto;
}