@model IEnumerable<YapartStore.UI.ViewModels.CarViewModel>

@{
    ViewBag.Title = "Cars";
}



<div class="catalog-model container">
    <div class="catalog-model__filter">
        <div class="catalog-model__filter-year">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Выбери год
            </button>
            <div class="dropdown-menu year-dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="a">
                    <div>aaaaaaa</div>
                    <div>bbbbbbbb</div>
                </div>
                <div class="b">
                    <div>bbb</div>
                    <div>nnnnn</div>
                </div>
            </div>
        </div>
        <div class="catalog-model__sort"></div>
    </div>
    <div class="catalog-model__list row">
        <div class="catalog-model__item car-info">
            @foreach (var car in Model)
            {
                <div class="car-info__car-image">
                    <img src="@car.Image" alt="Alternate Text" />
                </div>
                <div class="car-info__descriptions">
                    <div class="car-info__car-name"></div>
                    <div class="car-info__car-model">@car.Model</div>
                    <div class="car-info__years">@car.Years</div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:64612/api/product/GetAllCaps',
            type: 'GET',
            success: function (data) {
                console.log(data);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });
    });
</script>