
@{
    ViewBag.Title = "Cars";
}


<div class="catalog-model container">
    <div class="catalog-model__filter">
        <div class="catalog-model__filter-year">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Выбери год
            </button>
            <div class="dropdown-menu year-dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="a">
                    <div>aaaaaaa</div>
                    <div>bbbbbbbb</div>
                </div>
                <div class="b">
                    <div>bbb</div>
                    <div>nnnnn</div>
                </div>
            </div>
        </div>
        <div class="catalog-model__sort"></div>
    </div>
    <div class="catalog-model__list row">
        <div class="catalog-model__item car-info">
            <div class="car-info__car-image"></div>
            <div class="car-info__descriptions">
                <div class="car-info__car-name"></div>
                <div class="car-info__car-model"></div>
                <div class="car-info__years"></div>
            </div>
        </div>
    </div>
</div>
