@model IEnumerable<YapartStore.UI.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "GetAllProducts";
}

<h2>GetAllProducts</h2>

@foreach (var item in Model)
{
    <div>@item.Article</div>
    <div>@item.Descriptions</div>
    <div>@item.Price</div>
    foreach (var picture in item.Pictures)
     {
         <img src="@picture.Path"/>
     }
}

