@using YapartStore.UI.ViewModels

@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "GetProductsOfBrand";
}

<h2>GetProductsOfBrand</h2>

@foreach (var item in Model)
{
    <div>@item.Article</div>
    <div>@item.Descriptions</div>
    <div>@item.Price</div>
}

