@{
    ViewBag.Title = "Home Page";
}



<div class="select-car">
    <div class="select-car__wrap container">
        <div class="select-car__header">
            <div class="select-car__title">Выберите свой автомобиль</div>
            <div class="select-car__buttons">
                <span class="select-car__show-all" style="display: initial">Показать полный список</span>
                <span class="select-car__show-popular" style="display: none">Скрыть полный список</span>
            </div>
        </div>
    </div>
    <div class="select-car__main container">
        <div class="select-car__list container">
            <ul id="select-car__enum">
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
                <li>F</li>
                <li>G</li>
                <li>H</li>
                <li>I</li>
                <li>J</li>
                <li>K</li>
                <li>L</li>
                <li>M</li>
                <li>N</li>
                <li>O</li>
                <li>P</li>
                <li>R</li>
                <li>S</li>
                <li>T</li>
                <li>V</li>
                <li>Г</li>
                <li>З</li>
                <li>И</li>
                <li>Л</li>
                <li>М</li>
                <li>О</li>
                <li>У</li>
                <li id="all-cars">Все авто</li>
            </ul>
        </div>
    </div>
</div>
<div class="section-catalog container">
    <div class="section-catalog__header">
        <div class="section-catalog__buttons">
            <span class="section-catalog__button-show-all" style="display: initial">Скрыть все разделы</span>
            <span class="section-catalog__button-popular" style="display: none">Показать все разделы</span>
        </div>
    </div>
</div>
<div class="dicounts container">
    <div class="discounts__header">
        <div>Акции</div>
    </div>
    <div class="dicounts__wrap row">
        <div class="discount__slider col-md-8"></div>
        <div class="discount__section col-md-4">
            <div class="discount__section-item">
                <div class="discount__data">20.07.2018</div>
                <div class="discount__title">Стальные защиты</div>
                <div class="discount__text">Мотодор 6-ой серии на автомобили 2015 года в продаже.</div>
            </div>
            <div class="discount__section-item">
                <div class="discount__data">20.07.2018</div>
                <div class="discount__title">Расширение ассортимента Норпласт</div>
                <div class="discount__text">коврики автомобильные полиуретановые, коврики автомобильные ворсовые на резиновой основе, брызговики и локера на автомобили 2015 года.</div>
            </div>
            <div class="discount__section-item">
                <div class="discount__data">20.07.2018</div>
                <div class="discount__title">Рычаги</div>
                <div class="discount__text">Мотодор 6-ой серии на автомобили 2015 года в продаже.</div>
            </div>
        </div>
    </div>
</div>
<div class="popular-goods container">
    <div class="popular-goods__header">
        <div>Популярные товары</div>
    </div>
</div>

<div>@Url.Action("Index", "Catalog")</div>