@{
    ViewBag.Title = "Home Page";
}


<div class="select-car">
    <div class="select-car__wrap container">
        <div class="select-car__header">
            <div class="select-car__title">Выберите свой автомобиль</div>
            <div class="select-car__buttons">
                <span class="select-car__show-all" style="display: initial">Показать полный список</span>
                <span class="select-car__show-popular" style="display: none">Скрыть полный список</span>
            </div>
        </div>
    </div>
    <div class="select-car__main container">
        <div class="select-car__list container">
            <ul id="select-car__enum">
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
                <li>F</li>
                <li>G</li>
                <li>H</li>
                <li>I</li>
                <li>J</li>
                <li>K</li>
                <li>L</li>
                <li>M</li>
                <li>N</li>
                <li>O</li>
                <li>P</li>
                <li>R</li>
                <li>S</li>
                <li>T</li>
                <li>V</li>
                <li>Г</li>
                <li>З</li>
                <li>И</li>
                <li>Л</li>
                <li>М</li>
                <li>О</li>
                <li>У</li>
                <li id="all-cars">Все авто</li>
            </ul>
        </div>
    </div>
</div>
<div class="section-catalog container">
    <div class="section-catalog__header">
        <div class="section-catalog__buttons">
            <span class="section-catalog__button-show-all" style="display: initial">Скрыть все разделы</span>
            <span class="section-catalog__button-popular" style="display: none">Показать все разделы</span>
        </div>
    </div>
</div>
<div class="dicounts container">
    <div class="discounts__header">
        <div>Акции</div>
    </div>
    <div class="dicounts__wrap row">
        <div class="discount__slider col-md-8"></div>
        <div class="discount__section col-md-4">
            <div class="discount__section-item">
                <div class="discount__data">20.07.2018</div>
                <div class="discount__title">Стальные защиты</div>
                <div class="discount__text">Мотодор 6-ой серии на автомобили 2015 года в продаже.</div>
            </div>
            <div class="discount__section-item">
                <div class="discount__data">20.07.2018</div>
                <div class="discount__title">Расширение ассортимента Норпласт</div>
                <div class="discount__text">коврики автомобильные полиуретановые, коврики автомобильные ворсовые на резиновой основе, брызговики и локера на автомобили 2015 года.</div>
            </div>
            <div class="discount__section-item">
                <div class="discount__data">20.07.2018</div>
                <div class="discount__title">Рычаги</div>
                <div class="discount__text">Мотодор 6-ой серии на автомобили 2015 года в продаже.</div>
            </div>
        </div>
    </div>
</div>
<div class="popular-goods container">
    <div class="popular-goods__header">
        <div>Популярные товары</div>
    </div>
</div>

<div>@Url.Action("Index", "Catalog")</div>

<app-root>Загрузка...</app-root>


@*@Scripts.Render("~/Scripts/JS/myScript.js")*@


<script type="text/javascript">
    'use strict';

    let liArray = document.getElementById("select-car__enum").children;
    let AllCar = [];
    let PopularCars = [];

    let createClassName = "select-car__selected";
    let appendClassName = "select-car__list";

    $(document).ready(function () {
        $.getJSON("http://localhost:58823/home/getallmarks", function (data) {
            $.each(JSON.parse(data), function (i, item) {
                AllCar.push(item.Name);
                if (item.Show === true) {
                    PopularCars.push(item.Name);
                }
            });
        });
    });

    function AddEventListner() {
        //for char cars
        for (var i = 0; i < liArray.length; i++) {

            liArray[i].addEventListener('click', function (event) {
                CreateCarList(event);
                ActiveSelectChar(event.target);
            });
        }
        //view all or popular
        document.querySelector('.select-car__buttons').addEventListener('click',
            function (event) {
                ShowPopulerOrNotCars(event.target);
            });
    }

    function ShowPopularCars() {
        CreateDivCarList(createClassName, appendClassName, PopularCars);
    }

    function ShowPopulerOrNotCars(span) {
        if (span.className === "select-car__show-all") {
            ResetSelection();
            span.style = "display: none";
            CreateDivCarList(createClassName, appendClassName, AllCar);
            document.querySelector('.select-car__show-popular').style = "display: initial";
        } else {
            span.style = "display: none";
            ResetSelection();
            CreateDivCarList(createClassName, appendClassName, PopularCars);
            document.querySelector('.select-car__show-all').style = "display: initial";
        }
    }

    function DeleteSelectedList(className) {
        let remoteDiv = document.getElementsByClassName(className)[0];
        if (remoteDiv) {
            remoteDiv.parentNode.removeChild(remoteDiv);
            return true;
        }
        return false;
    }


    function CreateCarList(event) {
        let charCar = event.target.innerHTML;
        if (AllCar.length != 0) {
            if (event.target.id === "all-cars") {
                CreateDivCarList(createClassName, appendClassName, AllCar);
            } else {
                let carsNameArray = FilterCarsList(charCar);
                CreateDivCarList(createClassName, appendClassName, carsNameArray);
            }
        }
    }

    function ActiveSelectChar(tag) {
        ResetSelection();
        tag.className = "active";
    }

    function ResetSelection() {
        let liArray = document.querySelectorAll('#select-car__enum li:not(.all-cars)');
        for (let li of liArray) {
            li.className = "";
        }
    }

    function CreateDivCarList(className, appendClassName, carsArray) {
        DeleteSelectedList("select-car__selected");

        let divCarsList = document.createElement("div");
        divCarsList.className = className;
        document.getElementsByClassName(appendClassName)[0].appendChild(divCarsList);

        for (let carName of carsArray) {
            let aTag = document.createElement("a");
            aTag.id = "item";
            aTag.style = "display:inline";
            aTag.innerHTML = carName;
            aTag.href = "/Catalog/Cars/" + carName + "/";
            divCarsList.appendChild(aTag);

        }
    }



    function FilterCarsList(charCar) {
        let carsNameArray = [];
        for (let carName of AllCar) {
            if (carName.charAt(0) === charCar) {
                carsNameArray.push(carName);
            }
        }
        return carsNameArray;
    }

    function GetAllMarks() {

    }


    (function () {
        AddEventListner();
        ShowPopularCars();

    }());



</script>


